{% extends 'ledger/ledger_base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block header %}Recipe Page{% endblock %}

{% block ledger %}
    <p>{{ recipe.name }}</p>
    <p>By {{ recipe.author }}</p>
    {% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
    <a href="{% url 'ledger:recipe-add-image' pk=recipe.pk %}">Add Image</a>
    <ul>
        {% for ingredient in recipe.ingredients.all  %}
            <li>{{ ingredient.ingredient.name }} : {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>

{% endblock %}